.App {
  margin: auto;
  width: 992px;
}

/*DETAIL PAGE*/
.detail-container {
  margin-top: 27px;
  margin-left: 37px;
}

.detail-container .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detail-container .header img {

  height: 50px;
}

.detail-container .header .input-holder {
  margin-left: 37px;
}

.detail-container .detail-list {
  width: 952px;

  margin: auto;
}

.detail-list-container {
  padding-top: 80px;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 30px;
  padding-right: 15px;
}

#react-paginate li {
  border-radius: 3px;
  display: inline-block;
  border: 1px solid gray;
  margin: 0 3px;
  cursor: pointer;
}

#react-paginate li a {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#react-paginate li.active,
#react-paginate li:hover {
  background: gray;
  color: #fff;
}
